<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sleep Disorder Prediction</title>
</head>
<body>
    <h1>Sleep Disorder Prediction</h1>
    <form action="{{ url_for('predict') }}" method="POST">
        <label for="age">Age:</label>
        <input type="number" name="age" step="any" required><br><br>

        <label for="sleep_duration">Sleep Duration:</label>
        <input type="number" name="sleep_duration" step="any" required><br><br>

        <label for="quality_of_sleep">Quality of Sleep:</label>
        <input type="number" name="quality_of_sleep" step="any" required><br><br>

        <label for="occupation_salesperson">Occupation Salesperson (0 or 1):</label>
        <input type="number" name="occupation_salesperson" min="0" max="1" required><br><br>

        <label for="category_overweight">BMICategory Overweight (0 or 1):</label>
        <input type="number" name="category_overweight" min="0" max="1" required><br><br>

        <label for="stress_level">Stress Level:</label>
        <input type="number" name="stress_level" step="any" required><br><br>

        <label for="occupation_doctor">Occupation Doctor (0 or 1):</label>
        <input type="number" name="occupation_doctor" min="0" max="1" required><br><br>

        <input type="submit" value="Predict">
    </form>

    {% if predict %}
        <h2>Prediction: {{ predict }}</h2>
    {% endif %}
</body>
</html>
